* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  
  width: 100%;
  
  font-family: sans-serif, arial;
  font-size: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: #f1f1f1;
  padding: 2rem;

  border-radius: 3px;
}
.form-title {
  font-weight: 600;
}
.form-floating {
  width: 100%;
  position: relative;
}
.form-floating input, .form-floating textarea, .form-floating select {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 3px;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  font-size: 14px;
  outline: none;
}
.form-floating input:focus ~ label, .form-floating textarea:focus ~ label, .form-floating select:focus ~ label, .form-floating input:not(:placeholder-shown) ~ label, .form-floating textarea:not(:placeholder-shown) ~ label, .form-floating select:not(:placeholder-shown) ~ label {
  color: #999;
  font-size: 12px;
}
.form-floating input {
  height: 44px;
  padding: 20px 12px 6px 12px;
}
.form-floating input:focus ~ label, .form-floating input:not(:placeholder-shown) ~ label {
  top: 14px;
}
.form-floating input ~ label {
  top: 50%;
  transform: translateY(-50%);
}
.form-floating textarea {
  min-height: 88px;
  resize: none;
  padding: 20px 12px 0;
}
.form-floating textarea:focus ~ label, .form-floating textarea:not(:placeholder-shown) ~ label {
  padding-top: 4px;
  padding-bottom: 2px;
}
.form-floating textarea ~ label {
  width: 98%;
  top: 2px;
  padding-top: 12px;
  background-color: #fff;
}
.form-floating select {
  height: 44px;
  padding: 12px 6px 0;
}
.form-floating select ~ label {
  top: 6px;
}
.form-floating label {
  color: #000;
  font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 2px;
  padding-left: 10px;
  transition: 0.2s ease all;
}
.btn {
  height: 44px;
  transition: 0.2s;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
}
.btn__dark {
  background-color: #000;
  color: #fff;
}
